{% set pipeline = resource %}

<div class="ui styled fluid accordion">
    <div class="title">
        <i class="dropdown icon"></i>
        {{ 'bout_de_code_sylius_etl_plugin.ui.workflow_configuration'|trans }}
    </div>
    <div class="content">
        <pre>{{ pipeline.workflow.stepConfiguration|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
    </div>
</div>
